.circle{
    width: 7px;
    height: 7px;
    background: #ff0000;
    border-radius: 50%;
}

.container{
    width: 1280px;
    max-width: 1280px;
}

.container-flex{
    display: flex;
    justify-content: space-between;
}

h3, h4{
    background-color: #f2f2f2;
    padding-left: 5px;
    padding: 10px 0px 10px 5px;
    align-items: center;
}

header{
    background-color: #0c0c0c;
    color: #cfcfcf;
    display: flex;
    justify-content: space-around;
    height: 40px;
    align-content: center;
    width: 100%;
    position: fixed;
    top: 0px;
}

.image_square div{
    padding: 5px;
} 

.image_square div:nth-child(n+1) p{
    width: inherit;

}

.image_square > div{
    display: flex;
    flex-wrap: wrap;
}

.left_header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 720px;
}

.left_header div{
    align-items: center;
    display: flex;
}

.logo{
    background-color: red;
    margin-left: 15px;
}

main{
    margin-top: 50px;
}

.main_container{
    width: 1200px;
}


nav{
    display: flex;
    justify-content: space-around;
    width: 1090px;
    margin: 0 auto;
    padding-top: 12px; 
    font-size: 14px;
}

nav div :nth-child(1){
    color: red;
}

nav div span{
    border: none;
}

nav span{
    border-right: 1px solid grey;
    padding: 0px 10px 0px 10px;
}

.right_header{
    width: 280px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.row div{
    justify-content: center;
}

.row:nth-child(n+3) h4{
    background: linear-gradient(
    to right, #f2f2f2 0%, #f2f2f2 90%, #e6e6e6 90%, #e6e6e6 100%);
}
.row div p{
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    width: 320px;
}

