h4{
    background-color: #f2f2f2
}

header{
    background-color: #0c0c0c;
    color: #cfcfcf;
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    align-content: center;
}
#left_header{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#left_header div{
    align-content: center;
}

#logo{
    background-color: red;
    margin-left: 15px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
